.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.searching-block {
    display: flex;
    flex-direction: row;
}

.input-search{
    border: none;
    color:#122044;
    font-size: 17px;
    height: 20px;
    margin: 10px;
    width: 300px;
    padding: 5px;
}

.input-search:focus{
    outline: none;
}

.btn-search {
    background: transparent;
    border: none;
    color: #BA990F;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.btn-search:hover{
    color: white;
}



